html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-light {
  border-color: #212529;
  border-width: 1px;
}

.section {
  padding-top: 3rem;
}

.section h2{
  color: #4c5157;
}

.navbar{
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.774);
  z-index: 10;
}

.card{
  border-width: 0;
  background-color: #fafafa;
}

h5 {
  margin: 0;
}