html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-light {
  border-color: #212529;
  border-width: 1px;
}

.section {
  padding-top: 3rem;
}

.section h2{
  color: #4c5157;
}

.navbar-fixed-top{
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.774);
  z-index: 10;
}

.card{
  border-width: 0;
  background-color: #fafafa;
}

h5 {
  margin: 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.none {
  border-width: 0 0px 3px 0;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #4c515736;
  margin-top: 4rem;
}