.slogan {
  margin: 0;
  line-height: 0.5em;
  margin-bottom: 1em;
  color: #ffffff91;
  font-weight: bold;
}

.title {
  margin: 0;
  font-size: 3rem;
  color: white;
  font-weight: bolder;
}

.title_container{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track_input_group{
  max-width: 500px;
}

.section_title {
  font-size: 2rem;
  font-weight: 700;
}